main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  margin: 1rem auto;
  gap: 1rem;
}

section {
  width: 100%;
}

.seccion {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  border-radius: 10px;
}

.seccionInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.seccionInfo div h2 {
  font-size: 2rem;
}

.seccionInfo div p {
  max-width: 30rem;
  margin-bottom: 1rem;
}

.seccionInfo button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 15rem;
}

.seccion img {
  height: 100%;
  max-width: 15rem;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .seccion {
    flex-direction: column-reverse;
    align-items: center;
  }

  .seccion img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .seccionInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
